* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.navbar {
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.heading-div {
    display: flex;
}

.heading_1 {
    cursor: pointer;
    font-size: 50px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.heading_2 {
    cursor: pointer;
    font-size: 50px;
    color: orange;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

ul {
    display: flex;
    gap: 40px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #a0a0a0;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 0.5px;
}

a::after {
    content: "";
    position: absolute;
    background-color: orange;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.8s;
}

a:hover {
    font-weight: bold;
    color: #ffffff;
}

a:hover::after {
    width: 100%;
}

.btn_1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    margin-left: -200px;
    border-radius: 5px;
    background-color: orange;
    height: 40px;
    width: 180px;
    cursor: pointer;
}

.btn_1:hover {
    color: #000000;
    font-weight: bolder;
}

.main-container {
    /* gap: 100px; */
    height: 800px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.border-line {
    width: 200px;
    border: 2px solid orange;
    margin-top: 30px;
}

.heading {
    margin-top: -50px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 50px;
    font-style: italic;
    color: #ffffff;
}

p {
    margin-top: 40px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #a0a0a0;
}

.img-div {
    margin-top: 50px;
}

.image {
    border-radius: 20px;
    width: 700px;
    height: 700px;
}

.content-div{

}

.icons-div{
    align-items: center;
    justify-content: start;
    gap: 50px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3 , 100px);
}

.icon {
    color: rgb(230, 185, 25);
    font-size: 50px;
}

.title{
    font-size: 20px;
    color: #ffffff;
    font-family: 'poppins' , sans-serif;
    font-weight: 400;
}

.btn{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
    border-radius: 5px;
    background-color: orange;
    height: 50px;
    width: 150px;
    cursor: pointer;   
}

.btn:hover {
    color: #000000;
    font-weight: bolder;
}

@media only screen and (max-width: 1500px) {
    .main-container{
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 100px;
        margin-top: 200px;
        flex-direction: column-reverse;
    }

    .content-div{
        align-self: center;
        margin-top: 100px;
    }

    .heading{
        font-size: 30px;
    }

    .img-div{
        margin-right: 100px;
    }

    .image{
        width: 500px;
        height: 500px;
    }

    .navbar{
        display: flex;
        justify-content: space-around;
    }

    .btn_1{
        margin-left: -10px;
    }
}

@media only scree  and (max-width: 980px) {
    a{
        display: none;
    } 
}